
@{
    ViewBag.Title = "Index";
}

<h2>Form</h2>
<form method="post">
    <div class="mb-2">
        <label class="form-label">Amount</label>
        <input type="number" / name="Amount" class="form-control" placeholder="Enter Your Amount">
    </div>
    <div class="mb-2">
        <label class="form-label">Days</label>
        <input type="number" name="Days" class="form-control" placeholder="Enter Your Days">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

